.git
.venv
__pycache__
*.pyc
*.pyo

backend/.env
backend/.env.prod
frontend/node_modules
frontend/dist
node_modules

*.db
*.sqlite
*.sqlite3
*.session
backend/sessions

backend_start.log
npm-debug.log
yarn-error.log
